# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: dev-deploy

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.16.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout source code.
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check Npm -v
        run: npm -v

      - name: create env file
        working-directory: ./
        run: |
          pwd
          touch .env
          echo DB_HOST=${{ secrets.DEV_DB_HOST }} >> .env
          echo DB_USER=${{ secrets.DEV_DB_USER }} >> .env
          echo DB_PASSWORD=${{ secrets.DEV_DB_PASSWORD }} >> .env
          echo DB_DATABASE=${{ secrets.DEV_DB_DATABASE }} >> .env
          cat .env

      - name: copy appspec.yml
        run: cp appspec/appspec-dev.yml appspec.yml

      - name: build server files
        working-directory: ./
        run: |
          yarn
          yarn run build
      - name: zip file
        run: zip -r build.zip ./dist ./scripts ./appspec.yml ./.env ./package.json

      - name: AWS configure credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: upload to S3
        run: aws s3 cp --region ap-northeast-2 ./build.zip s3://oodd-dev-s3/deploy/

      - name: deploy with AWS codeDeploy
        run: aws deploy create-deployment
          --application-name server-code-deploy
          --deployment-config-name CodeDeployDefault.OneAtATime
          --deployment-group-name GROUP
          --s3-location bucket=oodd-dev-s3,bundleType=zip,key=deploy/build.zip
